#My Supabase Project URL and Key

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=

# Python ML Model Api

ML_API_URL=

#Open Ai Variables For Search

OPENAI_API_KEY=
OPENAI_SEARCH_MODEL=gpt-6-luna

